autogen-agentchat==0.4.0.dev11
autogen-core==0.4.0.dev11
autogen-core[grpc]==0.4.0.dev11
autogen-ext==0.4.0.dev11
openai
PyGithub
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp-proto-http
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai
