autogen-agentchat
#autogen-core==0.4.0.dev13
#autogen-core[grpc]==0.4.0.dev13
#autogen-ext==0.4.0.dev13
autogen-ext[openai,azure]
openai
azure-identity
PyGithub
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp-proto-http
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai
python-dotenv
azure-ai-projects
semantic-kernel

# Add gRPC packages to fix ModuleNotFoundError
grpcio>=1.54.0
grpcio-tools>=1.54.0
protobuf>=4.22.3

